/* Root Styles */

:root {
    --dark-color-1: #3A3A3A;
    --dark-color-2: #0A0826;
    --dark-color-3: #18191F;
    --dark-color-4: rgba(0, 0, 0, 0.87);
    --white: #FFFFFF;
    --gray: #D9DBE1;
    --btn-color: #E02C6D;

}

/* Universal Styles */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Common Styles */
.container {
    margin: 80px 120px;
}

.primary-btn {
    border: none;
    border-radius: 40px;
    padding: 10px 24px;
    background-color: var(--btn-color);
    color: var(--white);
    margin-top: 16px;
}

button span {
    margin-left: 10px;
}

.right-arrow {
    color: white;
}

/*-------------------------
     Navigation Styles 
------------------------ */

.navigation-section {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*---------------------------------
Dropdown-Menu Styles
---------------------------------*/

.dropdown-btn {
    border: none;
    background: none;
    height: 24px;
    width: 24px;
}

.dropdown-ico {
    font-size: 24px;
}

.dropdown-content {
    display: none;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}

.dropdown-content li:hover {
    background-color: #f1f1f1
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

/* Hidden Items */
.dropdown-menu,
.cart {
    display: none;
}

.nav-title {
    font-size: 24px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 34px;
}


/* Banner Section */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 16px;
}

@keyframes rounding {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.7);
    }
}

.banner {
    background-image: url(../asset/images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 3px;
    width: 475px;
    height: 475px;
    animation: rounding 4s linear infinite;
}


.banner img {
    width: 440px;
    height: 414px;
}

/* Brands Styles */
.brand-section {
    padding: 40px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    border-radius: 10px;
}

/* Popular Product */
.popular-container {}

.popular-title {
    font-weight: 600;
    font-size: 28px;
    color: var(--dark-color-1);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.product img {
    width: 300px;
    height: 256px;
    border-radius: 8px;
}

.product-title {
    font-weight: 500;
    font-size: 28px;
    color: var(--dark-color-3);
    margin-top: 10px;
}

.product-price {
    color: var(--dark-color-4);
    margin-top: 5px;
    font-weight: 400;
    font-size: 24px;
}

.product-rating {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-star {
    color: #FB8200;
    font-size: 10px;
}

.rate {
    color: #5E6366;
    font-size: 14px;
}



.product-description {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

.seemore {
    color: var(--btn-color);
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    background-color: white;
    float: right;
}












/* Responsive for Mobile */
@media only screen and (max-width:688px) {
    .container {
        margin: 35px 16px;
    }

    .dropdown-menu,
    .cart {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .banner-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner {
        width: 257px;
        height: 257px;
    }

    .banner img {
        width: 202px;
        height: 190px;
    }

    .brands {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
        text-align: center;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

}

















/* Tab Responsive */
@media only screen and (min-width:688px) and (max-width:820px) {
    .container {
        margin: 30px 60px;
    }

    .nav-menu {
        column-gap: 20px;
    }

    .banner-title {
        font-size: 36px;
    }

    .brands {
        grid-template-columns: repeat(4, 1fr);
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}